*.iml
.kotlin
.gradle
/local.properties
/.idea/
.DS_Store
**/build/
**/out/
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.log
*.keystore
kotlin-js-store/
*.db
*.db.lck
*.db-shm
*.db-wal
/inspections/
vibits-*.json

