build:
  maxIssues: 0

complexity:
  LongMethod:
    active: false
  CyclomaticComplexMethod:
    active: false
  LongParameterList:
    active: false
  TooManyFunctions:
    active: false
  ComplexCondition:
    active: false

exceptions:
  TooGenericExceptionCaught:
    active: false

naming:
  FunctionNaming:
    active: false

style:
  MagicNumber:
    active: false
  MaxLineLength:
    active: false
  ReturnCount:
    active: false
  UseCheckOrError:
    active: false
